.consultation-button {
    padding: 0.7rem 7rem;
    font-size: 0.900rem;
    width: auto;
    border-radius: 50px;
    border: 2px solid #2d007f;
    background-color: #2d007f;
    color: white;
}

.consultation-button:hover {
    background-color: #2d007f;
    border-color: #2d007f;
    color: white;
}

.full-width-rectangle-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0;
    margin-top: 6rem;
}

.full-width-rectangle {
    height: 210px;
    background-color: #ECB159;
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center; /* Teks di tengah secara vertikal */
}

.rectangle-content {
    display: flex;
    align-items: center;
}

.rectangle-image {
    height: 260px;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 150px;
    object-fit: cover;
}

.rectangle-text {
    color: black;
    max-width: 35%;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 640px;
    padding-left: 0;
    
    /* Menambahkan text-align, font-weight, dan letter-spacing */
    text-align: center; /* Teks di tengah secara horizontal */
    font-weight: bold;  /* Tebalkan teks */
    letter-spacing: 2px; /* Menambahkan spasi antar huruf */
}


