.footer {
    background-color: #430086;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer div {
    flex: 1;
}

.footer .social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.footer input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.footer button {
    padding: 10px 20px;
    background-color: #430086;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer button:hover {
    background-color: #430086;
}
